.patient-list-container {
    background-color: #fff; /* White background for the patient list container */
    height: 100%; /* Make the patient list take up the full height */
    display: flex;
    flex-direction: column;
  }
  
  .patient-list-child-container {
    background-color: #f8f8f8; /* Light gray background for the patient list container */
    border-radius: 5px;
    padding-top: 10px;
    height: 100%; /* Make the patient list take up the full height */
    display: flex;
    flex-direction: column;
  }
  
  .logo-header {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between logo header and patient list */
  }
  
  .logo-header .logo {
    width: 40px;
    margin-right: 10px;
  }
  
  .logo-header .tool-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .patient-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .patient-title {
    font-size: 16px;
    font-weight: 500;
    color: #0060b9;
  }
  
  .add-patient-icon {
    width: 20px;
    cursor: pointer;
  }
  
  .patient-list-content {
    flex-grow: 1;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .patient-item {
    padding: 20px; /* Padding for better spacing */
    margin: 0px 10px; /* Space between items */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px; /* Ensure the items have a consistent height */
    color: #3b3b3b;
    font-size: 14px;
  }
  
  .patient-item span {
    padding-left: 5px; /* Reduce padding to bring text closer to image */
    color: #3b3b3b;
  }
  
  /* Styling for the patient image */
  .patient-item .patient-image {
    width: 40px; /* Set the width of the image placeholder */
    height: 40px;
    border-radius: 50%; /* Make the image circular */
    padding-left: 10px; /* Add padding to the left side of the image */
  }
  
  /* Hover effect for patient items */
  .patient-item:hover {
    background-color: #f0f8ff;
  }
  
  /* Selected patient styling */
  .patient-item.selected {
    background-color: #dff4ff;
    border-radius: 5px;
  }
  